__pycache__/
*.pyc
*.egg-info/
gbsteamparams.egg-info/
build/
dist/
.venv/

# artefatos de dpkg-buildpackage/pybuild
.pybuild/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/gbsteamparams/

# artefatos de rpmbuild
rpmbuild/
